repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--fix, --select=I, --select=F]
      - id: ruff-format
        name: ruff (format)
